body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(104, 101, 101);
}
#calculadora {
    background-color: rgb(43, 177, 204);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(1, 1, 82);
}
#calculadoraESG {
    background-color: rgb(97, 143, 97);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(10, 10, 10);
}
.spMes {
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    background-color: rgba(12, 54, 54, 0.541);
    color: rgb(0, 0, 0);
    text-align: start;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    
}
#calculadora input:focus{
    background: gray;
    color: white;
}
#calculadoraESG input:focus{
    background: rgb(7, 7, 7);
    color: white;
    width: 80px;
}
#calculadora input {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}
#calculadoraESG input {
    background-color: rgb(18, 0, 175);
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    width: 60px;
}
#sptotal {
    background-color: black;
    color: chartreuse;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#calculadora button {
    background-color: aquamarine;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadora button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
h3 {
    color: black;
}
.calcF {
    display: none;
}
#input-calcF {
    display: none;
}
#input-calcF:checked + #calculadora .calcF {
    display: block;
}
